html {
  background-color: rgb(24, 79, 173);
  scroll-behavior: smooth;
}

nav {
  height: 60%;
  background-color: rgb(255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 0 0 25px 25px;
}

.name {
  margin-left: 5px;
  color: rgb(24, 79, 173);
  font-size: 23px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

nav li {
  width: 80px;
  text-align: center;
  margin: 0 0 0 auto;
}

.img {
  margin: 10px 0 30px 0;
  text-align: center;
}

article {
  padding: 20px 10% 50px 10%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 3px rgb(14, 55, 126);
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.profile {
  text-align: center;
}

.univ {
  text-align: center;
}

.hobby {
  text-align: center;
}

h2 {
  font-family: cursive;
  margin-bottom: 15px;
}

h3 {
  margin-top: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-bottom: solid;
  border-bottom-width: thin;
}

.radio {
  margin: 20px 20px 10px 20px;
  text-align: center;
  max-width: 100%;
}

.bangumi {
  margin: 20px 0 10px 0;
}

.waku {
  border: solid;
  border-width: thin;
  margin: 10% 0 20% 0;
}

.chuui {
  padding: 10px 0 10px 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 50px 10px 10px 10px;
  text-align: center;
  border: solid;
  border-width: thick;
  border-color: red;
  box-shadow: 5px 5px 3px rgb(121, 121, 118);
  background-color: rgb(255 255 0);
}
